:root{ 
    --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}
*{
    margin: 0;
}
.padre{
    background: none;
    position: relative;
    
}

.posicion{
    width: 100%;
    height: 200px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url(path);
    background-position: center center;
    z-index: -1;
    position: absolute;
}


.hijo1{
    background-color: #93B5C9;
    height: 200px;

}

.hijo2{
    background-color: #AB2849;
    width: 100%;
    height: 450px;

    top: 200px;
}

.hijo3{
    background-color: #AB2849;
    width: 87.3%;
    height: 200px;
    margin-left: 12rem;
    top: 670px;
}

.hijo4{
    background-color: #AB2849;
    width: 87.3%;
    height: 200px;
    margin-left: 12rem;
    top: 890px;
}

.hijo5{
    background-color: #AB2849;
    width: 87.3%;
    height: 200px;
    margin-left: 12rem;
    top: 1110px;
}

.hijo6{
    background-color: #AB2849;
    width: 87.3%;
    height: 200px;
    margin-left: 12rem;
    top: 1330px;
}

.hijo7{
    background-color: #AB2849;
    width: 98%;
    height: 125px;
    top: 1550px;
    left: 1%;
}

